  body {
    background: #fff;
    font-size: 16px;
    font-family: Consolas, "monospace";
  }

  .center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .has-float-label {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: relative;
}
.has-float-label label, .has-float-label > span {
position: absolute;
left: 5px;
top: 1px;
cursor: text;
font-size: .75em;
opacity: 1;
-webkit-transition: all .2s;
transition: all .2s;
}
.has-float-label select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.has-float-label input, .has-float-label select {
font-size: inherit;
padding: 0 .5em;
padding-top: 1em;
margin-bottom: 2px;
border: 0;
border-radius: 0;
border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.has-float-label input::-webkit-input-placeholder, .has-float-label select::-webkit-input-placeholder {
opacity: 1;
-webkit-transition: all .2s;
transition: all .2s;
}
.has-float-label input:placeholder-shown:not(:focus)::-webkit-input-placeholder, .has-float-label select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
opacity: 0;
}
.has-float-label input:placeholder-shown:not(:focus) + *:not(.input-has-content), .has-float-label select:placeholder-shown:not(:focus) + *:not(.input-has-content) {
font-size: 1.3em;
opacity: .5;
pointer-events: none;
top: .25em;
left: .5em;
}
.has-float-label input:focus, .has-float-label select:focus {
outline: none;
border-color: rgba(0, 0, 0, 0.5);
}
.has-float-label.input-list-container input {
padding-bottom: 0.3em;
}
.has-float-label.input-list-container input:placeholder-shown:not(:focus) + *:not(.input-has-content) {
font-size: 1.3em;
opacity: .5;
pointer-events: none;
top: 1em;
}
.has-float-label.select-container::after {
content: "\2335";
position: absolute;
top: 50%;
right: 5px;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
font-weight: bold;
pointer-events: none;
}

.tickbox {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 2px;
cursor: pointer;
}
.tickbox input[type="checkbox"] {
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
-webkit-transition: all 0.3s;
transition: all 0.3s;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 20px;
height: 20px;
margin: 0 5px;
}

.tickbox input:before,
.tickbox input:checked:before {
color: #000;
-webkit-transition: all 0.3s;
transition: all 0.3s;
cursor: pointer;
z-index: 1;
}

.tickbox input:before {
content: "\2610";
font-size: 2em;
}

.tickbox input:disabled:before {
content: "\274c";
font-size: 1em;
color: #444;
}

.tickbox input:checked:before {
content: "\2611";
color: #0f0;
}

  ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
  }

  input[type="text"] {
    width: 300px;
    max-width: 100%;
  }

  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
  }

  .filters > .selected {
    color: #ccc;
  }
